# Common test infrastructure paths
[btest]
TestDirs = tests
TmpDir = %(testbase)s/.tmp
BaselineDir = %(testbase)s/baseline
IgnoreDirs = .svn
IgnoreFiles = *.tmp *.swp *.cfg *.bro *.zeek

[environment]
ZEEKPATH=`zeek-config --zeekpath`:%(testbase)s/../scripts:%(testbase)s/scripts
ZEEK_PLUGIN_PATH=`zeek-config --plugin_dir`
ZEEKCFG=zeek-archiver -1
TZ=UTC
